# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
/dist
native
storybook-static
package/*

# misc
.DS_Store
.env
npm-debug.log
.swp
*.swp
.tgz
*.tgz
stats.json
backstop_data/bitmaps_test/**
backstop_data/html_report/**
